{
    servers {
        protocol {
            experimental_http3
        }
    }
}

your-domain.com {
    handle_path /api/* {
        reverse_proxy localhost:8080
    }

    handle /rtc/* {
        reverse_proxy localhost:7880
    }

    handle /casdoor/* {
        reverse_proxy localhost:8000
    }

    log {
        output file /data/access.log
    }
}
